In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
purchase_data = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(purchase_data)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [2]:
#total number of Players
Total_Players = len(purchase_data_df["SN"].unique())
Total_Players_df = pd.DataFrame({"Total Players": [Total_Players]})
Total_Players_df.head()

   Total Players
0            576

In [3]:
#total number of unique items
total_num_unique_items = len(purchase_data_df["Item ID"].unique())
#the Average price
Average_price = purchase_data_df["Price"].mean()
#total number of purchase
number_purchase= len(purchase_data_df["Purchase ID"].unique())
#total revenue
total_revenue= purchase_data_df["Price"].sum()

In [4]:
summary_df=pd.DataFrame({"Number or Unique Items":[total_num_unique_items],"Average Price":[Average_price],
                        "Number of Purchase":[number_purchase],"Total Revenue":[total_revenue]})

summary_df.style.format({'Average Price':"${:,.2f}",
                         'Total Revenue': '${:,.2f}'})

In [5]:
Gender_grouped = purchase_data_df.groupby("Gender")
total_count_gender = Gender_grouped.nunique()["SN"]
Percentage= (total_count_gender/Total_Players *100).round(2).astype(str) + '%'
summary_df=pd.DataFrame({"Total count":total_count_gender,"Players Percentage":Percentage})
summary_df.index.name = None
summary_df.sort_values(["Total count"], ascending = False)

                       Total count Players Percentage
Male                           484             84.03%
Female                          81             14.06%
Other / Non-Disclosed           11              1.91%

In [6]:
# Create a group based on the values in the 'Gender' column and do Gender analysis
Gender_grouped = purchase_data_df.groupby("Gender")
purchase_count = Gender_grouped["SN"].count()
average_price  = Gender_grouped.mean()["Price"]
total_purchase = purchase_count * average_price
average_total_per_person=total_purchase/total_count_gender
Gender_purchase_analysis_df=pd.DataFrame({"Purchase Count":purchase_count,"Avg. Purchase Price":average_price,"Total Purchase":total_purchase,"Total avg. Purchase Per Person":average_total_per_person})
Gender_purchase_analysis_df.index.name=None
#Gender_purchase_analysis_df.sort_values(["Purchase Count"], ascending = False)
Gender_purchase_analysis_df.sort_values(["Purchase Count"], ascending = False).style.format({'Avg. Purchase Price':"${:,.2f}",
                         'Total Purchase': '${:,.2f}','Total avg. Purchase Per Person':'${:,.2f}'})

In [7]:
#creat bins and group
bins_age = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90,99999]
group_of_age = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# cut and sort age values into bins above
purchase_data_df["Age Group"] = pd.cut(purchase_data_df["Age"],bins_age, labels=group_of_age)
purchase_data_df

#use groupby to creat new data frame with the added "Age Group"
age_grouped = purchase_data_df.groupby("Age Group")

#total players by age count
total_count_age = age_grouped["SN"].nunique()
percentage_age_group= (total_count_age/Total_Players*100).round(2).astype(str) + '%'
total_count_age_df=pd.DataFrame({"Total count":total_count_age,"Percentage of Players":percentage_age_group})
total_count_age_df

           Total count Percentage of Players
Age Group
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

In [8]:
bins_age = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90,99999]
group_of_age = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
# Count purchases by age group

purchase_count_age = age_grouped["Purchase ID"].count()

# average purchase price by age group 
avg_purchase_price_age = age_grouped["Price"].mean()

# Caltotal purchase value by age grouped 
total_purchase_value = age_grouped["Price"].sum()

# Cal the average purchase per person in the age group 
avg_purchase_per_person_age = total_purchase_value/total_count_age

# Create data frame with 
age_demographics = pd.DataFrame({"Purchase Count": purchase_count_age,
                                 "Avg. Purchase Price": avg_purchase_price_age,
                                 "Total Purchase Value":total_purchase_value,
                                 "Avg. Purchase Total per Person": avg_purchase_per_person_age})

# Format the data frame with no index name in the corner
age_demographics.index.name = None

# Format with currency style
age_demographics.style.format({"Avg. Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}",
                               "Avg. Purchase Total per Person":"${:,.2f}"})

In [9]:
#Group purchase data by screen names
spender = purchase_data_df.groupby("SN")

# Count the total purchases by name
purchase_count_spender = spender["Purchase ID"].count()

# Calculate the average purchase by name 
avg_purchase_price_spender = spender["Price"].mean()

# Calculate purchase total 
purchase_total_spender = spender["Price"].sum()

# Create data frame with obtained values
top_spenders = pd.DataFrame({"Purchase Count": purchase_count_spender,
                             "Average Purchase Price": avg_purchase_price_spender,
                             "Total Purchase Value":purchase_total_spender})

# Sort in descending order to obtain top 5 spender names 
formatted_spenders = top_spenders.sort_values(["Total Purchase Value"], ascending=False).head()

#Format with currency style
formatted_spenders.style.format({"Average Purchase Total":"${:,.2f}","Average Purchase Price":"${:,.2f}","Total Purchase Value":"${:,.2f}"})

In [10]:
# new Data Frame 
items = purchase_data_df[["Item ID", "Item Name", "Price"]]

# Group the item data by item, id, and item name 
item_stats = items.groupby(["Item ID","Item Name"])

# Count the number of times an item has been purchased 
purchase_count_item = item_stats["Price"].count()

# Calcualte the purchase value per item 
purchase_value = (item_stats["Price"].sum()) 

# Find individual item price
item_price = purchase_value/purchase_count_item

# Create data frame with obtained values
most_popular_items = pd.DataFrame({"Purchase Count": purchase_count_item, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":purchase_value})

# Sort in descending order to obtain top spender names and provide top 5 item names
popular_formatted = most_popular_items.sort_values(["Purchase Count"], ascending=False).head()

# Format with currency style
popular_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

In [11]:
# from most_popular items data frame and find highest total purchase value
popular_formatted = most_popular_items.sort_values(["Total Purchase Value"],ascending=False).head()
# Formatting with currency and round it.
popular_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})