In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
purchase_data = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(purchase_data)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [2]:
#total number of Players
Total_Players = len(purchase_data_df["SN"].unique())
Total_Players_df = pd.DataFrame({"Total Players": [Total_Players]})
Total_Players_df.head()

   Total Players
0            576

In [3]:
#total number of unique items
total_num_unique_items = len(purchase_data_df["Item ID"].unique())
#the Average price
Average_price = purchase_data_df["Price"].mean()
#pd.options.display.float_format='${:,2f}'.format
#Average_price=pd.options.display.float_format
#total number of purchase
number_purchase= len(purchase_data_df["Purchase ID"].unique())
#total revenue
total_revenue= purchase_data_df["Price"].sum()

In [4]:
summary_df=pd.DataFrame({"Number or Unique Items":[total_num_unique_items],"Average Price":[Average_price],
                        "Number of Purchase":[number_purchase],"Total Revenue":[total_revenue]})

summary_df.style.format({'Average Price':"${:,.2f}",
                         'Total Revenue': '${:,.2f}'})

In [5]:
Gender_grouped = purchase_data_df.groupby("Gender")
total_count_gender = Gender_grouped.nunique()["SN"]
Percentage= (total_count_gender/Total_Players *100).round(2).astype(str) + '%'
summary_df=pd.DataFrame({"Total count":total_count_gender,"Players Percentage":Percentage})
summary_df.index.name = None
summary_df.sort_values(["Total count"], ascending = False)

                       Total count Players Percentage
Male                           484             84.03%
Female                          81             14.06%
Other / Non-Disclosed           11              1.91%

In [7]:
# Create a group based on the values in the 'Gender' column and do Gender analysis
Gender_grouped = purchase_data_df.groupby("Gender")
purchase_count = Gender_grouped["SN"].count()
average_price  = Gender_grouped.mean()["Price"]
total_purchase = purchase_count * average_price
average_total_per_person=total_purchase/total_count_gender
Gender_purchase_analysis_df=pd.DataFrame({"Purchase Count":purchase_count,"Avg. Purchase Price":average_price,"Total Purchase":total_purchase,"Total avg. Purchase Per Person":average_total_per_person})
Gender_purchase_analysis_df.index.name=None
#Gender_purchase_analysis_df.sort_values(["Purchase Count"], ascending = False)
Gender_purchase_analysis_df.sort_values(["Purchase Count"], ascending = False).style.format({'Avg. Purchase Price':"${:,.2f}",
                         'Total Purchase': '${:,.2f}','Total avg. Purchase Per Person':'${:,.2f}'})